.heading {
    font-size: 15px;
    color: orangered;
    font-weight: bolder;
}

.modal-backdrop.fade
{
     opacity: 0.5 !important;
}

.modal-open .modal
{
    opacity: 1 !important;
}

.icon-style {
    transform: scale(0.8);
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
  }