<h1 mat-dialog-title>Hi {{data.name}}!! You Can edit your profile!!</h1>
<mat-divider></mat-divider>
<br>
<!-- <form class="profile-edit-form"> -->
    <div mat-dialog-content>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Full Name" [(ngModel)]="data.name" />
                <mat-hint>Enter your full name</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Bio</mat-label>
                <textarea matInput placeholder="Ex. I am a...." [(ngModel)]="data.bio"></textarea>
                <mat-hint>Enter about info about you</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Date Of Birth</mat-label>
                <input matInput type="date" [ngModel]="data.dob | date: 'yyyy-MM-dd'" placeholder="Current location" >
                <mat-hint>Select your date of birth</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Current location" [(ngModel)]="data.location">
                <mat-hint>Mention your location</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Contact</mat-label>
                <input type="tel" matInput placeholder="Contact No." [(ngModel)]="data.contact">
                <mat-hint>Enter your contact number</mat-hint>
            </mat-form-field>
        </p>
    <br>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
    </div>
<!-- </form> -->