.intro-card {
    max-width: 400px;
}

.skill-card {
    margin: 10px;
}

.profile-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 120px;
    width: 120px;
}

.profile-image-short {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.profile-id {
    margin-top: 20px;
}

.profile-container{
    width: 100%;
    height: 545px;
    background-color: whitesmoke;
}

.icon-style {
    transform: scale(0.8);
}