
a>img {
    max-height: 40px;
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
}

.search {
    color: white;
    font-weight: bold;
}

.name {
    font-weight: bold;
    color: orangered;
}
.active
{
    background-color: orangered;
}

.sidebar{
    width:100%;
}