<span class="h1 mx-3 ">Settings</span>

<div class="section mx-3">
  <div class="mt-4 theme-color">
    <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
      <div class="container px-0 py-1">
        <span class="h4"> Section Heading </span>
      </div>
    </div>
  </div>

  <div class="settings ml-2">
    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
        <div class="row px-0 mx-0 d-block py-2">
          <div class="col-md-11 col-lg-11 col-sm-10 col-xl-11 col-xs-10 px-0 mx-0 text-left position-absolute">
            <div class="h6">Heading with silder</div>

          </div>
          <div class="text-right">
            <mat-slide-toggle [color]="color" [checked]="checked">
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
        <div class="container px-0">
          <div class="row px-0 mx-0 d-block">
            <div class="h6">Heading</div>

            <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                ipsum.
              </small></p>


          </div>
        </div>
      </div>
    </div>

    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
        <div class="row px-0 mx-0 d-block">
          <div class="col-md-11 col-lg-11 col-sm-10 col-xl-11 col-xs-10 px-0 mx-0 text-left position-absolute">
            <div class="h6">Setting with silder</div>

          </div>
          <div class="text-right">
            <mat-slide-toggle [color]="color" [checked]="checked">
            </mat-slide-toggle>
          </div>
          <div>
            <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                ipsum.
              </small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert" data-toggle="modal"
        data-target="#exampleModalCenter">
        <div class="container px-0">
          <div class="row px-0 mx-0 d-block">
            <a class="link">
              <div class="h6">Setting with dialog</div>
              <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                  ipsum.
                </small></p>
            </a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content rounded-0 m-5">
            <div class="modal-header border-0">
              <h4 class="">Modal title</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="alert">
              <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                  ipsum.
                </small></p>
            </div>
            <div class="modal-footer border-0">
              <button mat-button data-dismiss="modal">CANCEL</button>
              <button mat-button color="warn">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
        <div class="row px-0 mx-0 d-block">
          <div class="col-md-11 col-lg-11 col-sm-10 col-xl-11 col-xs-10 px-0 mx-0 text-left py-2">
            <div class="h6 "><a class="link theme-color">EXTERNAL LINK</a> </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section mx-3">
  <div class="mt-4 color">
    <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
      <div class="container px-0 py-1">
        <span class="h4"> General Settings </span>
      </div>
    </div>
  </div>

  <div class="settings ml-2">
    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
        <div class="row px-0 mx-0 d-block py-2">
          <div class="col-md-11 col-lg-11 col-sm-10 col-xl-11 col-xs-10 px-0 mx-0 text-left position-absolute">
            <div class="h6">Heading with silder</div>

          </div>
          <div class="text-right">
            <mat-slide-toggle [color]="color" [checked]="checked">
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
        <div class="container px-0">
          <div class="row px-0 mx-0 d-block">
            <div class="h6">Heading</div>

            <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                ipsum.
              </small></p>


          </div>
        </div>
      </div>
    </div>

    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert">
        <div class="row px-0 mx-0 d-block">
          <div class="col-md-11 col-lg-11 col-sm-10 col-xl-11 col-xs-10 px-0 mx-0 text-left position-absolute">
            <div class="h6">Setting with silder</div>

          </div>
          <div class="text-right">
            <mat-slide-toggle [color]="color" [checked]="checked">
            </mat-slide-toggle>
          </div>
          <div>
            <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                ipsum.
              </small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-bar">
      <div class="alert border-0 rounded-0 mb-0 px-0" role="alert" data-toggle="modal"
        data-target="#exampleModalCenter">
        <div class="container px-0">
          <div class="row px-0 mx-0 d-block">
            <a class="link">
              <div class="h6">Setting with dialog</div>
              <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                  ipsum.
                </small></p>
            </a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content rounded-0 m-5">
            <div class="modal-header border-0">
              <h4 class="">Modal title</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="alert">
              <p class="mb-0"><small>Lorem ipsum, dolor sit amet consecteturgewgddddddddddddd adipisicing elit. Dolores
                  ipsum.
                </small></p>
            </div>
            <div class="modal-footer border-0">
              <button mat-button data-dismiss="modal">CANCEL</button>
              <button mat-button color="warn">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
