
.example-fill-remaining-space {
    flex: 1 1 auto;
}

.mat-card-header-text {
    font-size: 16px;
    color: orangered;

}

.mat-card-subtitle-text {
    font-size: 12px;
    color: grey;
    padding-left: 15px;
}

.header {
    border-bottom: 1px solid darkgray;
}

.head {
    display: flex;
    padding-top: 20px;
}

.example-full-width {
    flex: 1 1 auto;
}

.listOfPosts {
    position : relative;
    left : 0px; 
    top: 0px;
    padding : 10px;
    margin-left : 5px;
    max-width: 1000px;
    width: 100%;
}

.post-content {
    padding: 20px;
    font-size: larges;
}

/*
.post-tags {
    background-color: white;
}
*/

.post-list-header {
    font-size: 16px;
    padding: 10px;
    margin-left: 10px;
    color: orangered;
    font-weight: bolder;
}
