.title-time {
    color: black;
    font-size: 11px;
}

.title-name {
    font-family: Helvetica, sans-serif;
    font-size: large;
}

mat-toolbar {
    display: flex;
}

.post-list-header {
    font-size: 30px;
}

.post-tags {
    font-size: 10px;
}

.exp-panel {
    z-index: 5;
}

.comment-title-name {
    font-size: 14px;
}

.comment-title-time {
    font-size: 11px;
}

.comment-content {
    font-size: 13px;
    background-color: #f5f5f5;
}

.comment {
    border-left: 3px solid black;
}

.content, .chip {
    font-size: 14px;
}

.mat-standard-chip{
    min-height: 8px;
}