#particles-js canvas {
    z-index: -1;
}
#particles-js {
    background-color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.panel {
    font-family: 'Source Sans Pro';
    width:100%;
    background: #222;
    opacity: 0.8;
    box-sizing: border-box;
    z-index: 100;
}
.header {
    text-align: center;
    color: black;
    background: silver;
}
@media (min-width: 768px) {
    .panel {
        font-family: 'Source Sans Pro';
        color: white;
        width:40%;
        background: #222;
        opacity: 0.8;
        padding: 20px;
        border-radius: 4px;
        box-sizing: border-box;
        z-index: 100;
    }
}
